.note-bar {
  width: 35%;

  &__content {
    padding: 50px 30px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__task {
    display: flex;
    align-items: center;

    margin-bottom: 40px;
  }

  &__task-name {
    font-weight: 500;
    font-size: 35px;
    color: #403f3b;

    margin-left: 20px;
    padding-bottom: 10px;
    width: 100%;

    border-bottom: #74abbf solid 2px;
  }

  ion-icon {
    cursor: pointer;

    margin-left: 10px;

    font-size: 44px;
    color: #403f3b;
  }
}
