.task-bar {
  height: 100%;
  width: 40%;
  background-color: #e8e8e8;

  &__content {

    color: #9a9a9a;
    padding: 3px 20px;

  }

  &__list-title {
    width: 100%;
    padding: 8px;

    text-align: center;
    font-size: 25px;
    color: #e8e8e8;
    background-color: #9a9a9a;
  }

  &__task-input {
    font-size: 25px;
    color: #9a9a9a;
    width: 70%;

    padding: 5px 10px;
    border-bottom: #9a9a9a 1px solid;
    background-color: transparent;
  }

  &__new-task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 30px;

    ion-icon {
      cursor: pointer;
      font-size: 36px;
    }
  }
}
